.error-img {
    background: url("imgs/error.png") 0 0 no-repeat;
    width: 300px;
    height: 300px;
    background-size: 100%;
    margin: 3em auto 0;
}

.error-img-alt {
    background: url("imgs/error_alt.png") 0 0 no-repeat;
    width: 300px;
    height: 300px;
    background-size: 100%;
    margin: 3em auto 0;
}
