.error {
    border: 2px solid crimson!important;
    -webkit-box-shadow: 0 0 5px 0 rgba(220,20,60,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(220,20,60,0.75);
    box-shadow: 0 0 5px 0 rgba(220,20,60,0.75);
    transition: .3s;
}
